* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background: #334;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


h1.title {
  color: #03103b;
  text-align: center;
}

.btn {
  display: block;
  justify-self: center;
  margin: 1rem;
  padding: 0.25em 0.5em;
  border-radius: 6px;

  &.btn-primary {
    background-color: #5EA;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #4A8;
    }
  }

}